.Header {
    position: absolute;
    right: 30px;
    top: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.Header.on {
    visibility: hidden;
    opacity: 0;
}
.gnb ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.gnb ul:after {
    display: block;
    clear: both;
    content: '';
}
.gnb ul li {
    float: left;
    margin: 0 15px;
    opacity: .5;
    line-height: 60px;
    cursor: pointer;
}
.gnb ul li.on {
    opacity: 1;
}