.Movie__Section {
    position: absolute;
    width: 55vw;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.Movie__Section.on {
    opacity: 0;
    visibility: hidden;
}
.Movie__Section h3 {
    font-size: 24px;
    font-weight: 400;
}
.Movie__Wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 3em;
    height: 70vh;
    overflow: auto;
    padding-right: 20px;
}
.Movie__Wrapper::-webkit-scrollbar {
    width: 8px;
}
.Movie__Wrapper::-webkit-scrollbar-track {
    background: #121328;
}
.Movie__Wrapper::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.Movie__Box {
    cursor: pointer;
}

.Poster__Wrap img {
    box-shadow: 0 8px 38px rgba(0, 0, 0, 0.5), 0 5px 12px rgba(0, 0, 0, 0.4);
    width: 100%;
}

.Movie__Info {
    margin-top: 20px;
}
.Movie__Info h4 {
    margin: 0;
    font-weight: 500;
    letter-spacing: 0;
}
.Movie__Info p {
    margin: 0;
    margin-top: 5px;
}
.fa-star {
    color: #ffffae;
    margin-right: 5px;
}

.Detail__View {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition: all 0.8s 0.2s ease-in-out;
    -webkit-transition: all 0.8s 0.2s ease-in-out;
    -moz-transition: all 0.8s 0.2s ease-in-out;
    -ms-transition: all 0.8s 0.2s ease-in-out;
    -o-transition: all 0.8s 0.2s ease-in-out;
}
.Detail__View.on {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
.Movie__Bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100vh;
    background-size: cover;
    transition: transform, width 0.8s ease-in-out;
    -webkit-transition: transform, width 0.8s ease-in-out;
    -moz-transition: transform, width 0.8s ease-in-out;
    -ms-transition: transform, width 0.8s ease-in-out;
    -o-transition: transform, width 0.8s ease-in-out;
}
.Detail__View.on .Movie__Bg {
    width: 70vw;
}

.Loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.Detail__Info {
    position: absolute;
    left: 3%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 10;
    width: 30vw;
    height: 80vh;
    overflow: auto;
    /* direction: rtl; */
    padding-left: 130px;
}
.Detail__Info::-webkit-scrollbar {
    width: 8px;
}
.Detail__Info::-webkit-scrollbar-track {
    background: #121328;
}
.Detail__Info::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.Detail__Poster {
    width: 20vw;
    margin: 0 auto 0 0;
}
.Text__Info {
    text-align: left;
    margin-top: 30px;
}
.Text__Info h2 {
    margin: 0;
    font-weight: 500;
    font-size: 32px;
}
.Text__Info h3 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
}
.Text__Info .Running__Time {
    margin-left: 10px;
}
.Movie__Genre {
    margin-right: 10px;
}
.Tagline {
    font-size: 20px;
}
.Recommend {
    margin-top: 100px;
}
.Recommend h3 {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
}
.Recommend__Wrap {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 3em;
    overflow: auto;
}

@media screen and (max-width: 1440px) {
    .Movie__Wrapper {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 1024px) {
    .Movie__Wrapper {
        grid-template-columns: 1fr 1fr;
    }
}