html {
  height: 100vh;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #121328;
  color: #fff;
  letter-spacing: -0.069em;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
